Maintainer: PianoCat <kotone.oln1010@gmail.com>
Package: paper-town-artworks
Depends: 
Section: artworks
Version: 1.0.0
Essential: yes
Architecture: all
Description: artworks
 wallpaper, icons and logos.
Homepage: https://nsk-1010.github.io/paper-town/
Priority: required
